<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Student ID</th>
        <th scope="col">Name</th>
        <th scope="col">Degree</th>
        <th scope="col">Major</th>
        <th scope="col">GPA</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentList">
        <td>{{ student.student_id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.degree }}</td>
        <td>{{ student.major }}</td>
        <td>{{ student.gpa }}</td>
        <td>{{ student.address }}</td>
      </tr>
    </tbody>
</table>