<form #form="ngForm">
    <div class="form-group">
        <label for="formGroupExampleInput">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="John Doe" [(ngModel)]="student.name">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Degree</label>
        <input type="text" class="form-control" name="degree" id="degree" placeholder="Bachelor of Science" [(ngModel)]="student.degree">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Major</label>
        <input type="text" class="form-control" name="major" id="major" placeholder="Computer Science" [(ngModel)]="student.major">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">GPA</label>
        <input type="text" class="form-control" name="gpa" id="gpa" placeholder="3.3" [(ngModel)]="student.gpa">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Courses</label>
        <input type="text" class="form-control" name="courses" id="courses" placeholder="Courses" [(ngModel)]="student.courses">
    </div>
    <button class="btn btn-outline-secondary" (click)="onBack()"><i class="fa fa-chevron-left"></i>Back</button>
</form>

<!-- {{form.value | json}} -->